/* .active {
  color: red;
} */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 9rem;
}
nav {
  margin-top: 2rem;
}
.menu {
  display: flex;
  gap: 2rem;
}

.dropdownList {
  padding: 0;
}

.imageContainer {
  display: flex;
  justify-content: center;
  margin: 5rem 0rem;
}
